flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ce6142f7a4da6c6",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "172.17.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "82bb36b7dd1a912e",
        "type": "ui_tab",
        "name": "EVSE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "994e79f0b64680b5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3942f7a9d2f8765d",
        "type": "ui_group",
        "name": "Controls",
        "tab": "82bb36b7dd1a912e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "93ee696dfc3d90d7",
        "type": "ui_tab",
        "name": "Enable",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "18698eb588644b7e",
        "type": "ui_group",
        "name": "Default",
        "tab": "93ee696dfc3d90d7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c8b1172bf5c0ac4",
        "type": "ui_tab",
        "name": "Auth",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0369d6e3c4a7e69e",
        "type": "ui_group",
        "name": "Default",
        "tab": "2c8b1172bf5c0ac4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "52e36557d58ad20b",
        "type": "ui_tab",
        "name": "Start",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82fe2b20a341afc6",
        "type": "ui_group",
        "name": "Default",
        "tab": "52e36557d58ad20b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9b5bdb08150b46a",
        "type": "ui_tab",
        "name": "Stop",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53eff387bcd01283",
        "type": "ui_group",
        "name": "Default",
        "tab": "e9b5bdb08150b46a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "978f80b4df969e28",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab37131111b1c5af",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ce6142f7a4da6c6",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "8c2b7d1d2aaf871f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Plug In",
        "group": "3942f7a9d2f8765d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Plug In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "62f12cda505cc9c4"
            ]
        ]
    },
    {
        "id": "62f12cda505cc9c4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.topic = \"everest/evse_manager/evse/call/plug_in\";\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "ab37131111b1c5af"
            ]
        ]
    },
    {
        "id": "7f2a8b5d0ee37b9f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Enable",
        "group": "3942f7a9d2f8765d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "043fd67f652cc016"
            ]
        ]
    },
    {
        "id": "7e0fb0ce19d34ec0",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Auth",
        "group": "3942f7a9d2f8765d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auth",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "41c718f54666a735"
            ]
        ]
    },
    {
        "id": "579973b66a35e1b3",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Start",
        "group": "3942f7a9d2f8765d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "427d24b7c29ad335"
            ]
        ]
    },
    {
        "id": "b4fdc476fee92177",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Stop",
        "group": "3942f7a9d2f8765d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "f7190a7e6b51fb86"
            ]
        ]
    },
    {
        "id": "043fd67f652cc016",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.topic = \"everest/evse_manager/evse/call/enable\";\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 340,
        "wires": [
            [
                "ab37131111b1c5af"
            ]
        ]
    },
    {
        "id": "41c718f54666a735",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.topic = \"everest/evse_manager/evse/call/authorize\";\nmsg.payload = {\n    id_token: {\n        value: \"1234\",\n        type: \"Central\"\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "ab37131111b1c5af"
            ]
        ]
    },
    {
        "id": "427d24b7c29ad335",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.topic = \"everest/evse_manager/evse/call/start_charging\";\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "ab37131111b1c5af"
            ]
        ]
    },
    {
        "id": "f7190a7e6b51fb86",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "msg.topic = \"everest/evse_manager/evse/call/stop_charging\";\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 520,
        "wires": [
            [
                "ab37131111b1c5af"
            ]
        ]
    },
    {
        "id": "48d3fdae5e7f18ce",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "everest/evse_manager/evse/call/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ce6142f7a4da6c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "7eb110da7d481846"
            ]
        ]
    },
    {
        "id": "7eb110da7d481846",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "let action = msg.topic.split(\"/\").pop();\n\nlet state = flow.get(\"state\") || \"Idle\";\n\nif (action === \"plug_in\") {\n    state = \"Vehicle Plugged In\";\n}\nelse if (action === \"enable\") {\n    state = \"EVSE Enabled\";\n}\nelse if (action === \"authorize\") {\n    state = \"Authorized\";\n}\nelse if (action === \"start_charging\") {\n    state = \"Charging ⚡\";\n}\nelse if (action === \"stop_charging\") {\n    state = \"Stopped ⛔\";\n}\n\nflow.set(\"state\", state);\n\nmsg.payload = \"Status: \" + state;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 380,
        "wires": [
            [
                "83baa6a6c1028379"
            ]
        ]
    },
    {
        "id": "83baa6a6c1028379",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "3942f7a9d2f8765d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EVSE Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb47b43494dd99e8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]